# Ignorar ambiente virtual
venv/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos temporários de sistema
.DS_Store
Thumbs.db

# Ignorar configurações locais de IDEs
.vscode/
.idea/

# Arquivos de log ou temporários
*.log
*.tmp

# Arquivos de testes ou builds temporários (se tiver)
build/
dist/
*.egg-info/
